.navbar{
    height: 100px;
    font-size: 17px;
    font-weight: 600;
    color: blue;
    background-color:#f4f4f4;
    text-decoration: none;
}
.nav{
    margin-left: 50px;
}
.search-input{
    width: 300px;
    height: 35px;
    border: 1px solid #757D75;
    margin-right: 20px;
}
.search-input :active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}
.searchList{
    list-style: none;
    position: absolute;
    z-index: 1000;
    background: #FFF;
    border: 1px solid #BFBFBF;
    padding: 0;
}
ul.searchList li {
    padding: 15px 10px;
    border-top: 1px solid #BFBFBF;
    color: black;
}
ul.searchList li:hover {
    background-color: #f4f4f4;
}
.searchListImage{
    width: 100px;
    height: 100px;
}

.dropTownItem:active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
    
    
}